<header>
    <div class="navbar">
       <span><a href="/">Home Page</a></span>
       <span class="right-align">    
         <a href="/users/signup">Add User</a>
      </span>   
    </div>   
</header> 
