<html>
   <head> 
    <title>
       Authentication
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/app.css"  type="text/css"> 

    <%- style%>
   </head> 
   <body>
    <%- include("header");%> 
     <%- body %>
   </body>
   <%- script%>
   </html>
   
