   <section id="sign-up">
     <div class="form-container">  
        <h2>Sign Up</h2> 
        <form action="/users/create" method="POST">
            <input type="text" name="firstName" placeholder="Enter your First Name" required>
            <input type="text" name="lastName" placeholder="Enter your Last Name" required>
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password"name="password" placeholder="Enter password" required>
            <input type="password" name="confirmPassword" placeholder="Re Enter Password" required>
            <input type="text" name="location" placeholder="Location" required>
            <input type="text" name="pincode" placeholder="pincode" required>
            <button type="submit">Create</button> 
        </form>     
    </section>